.slide.splash {
    background-image: url('assets/images/hero.webp'); 
    background-size: cover;
    align-items: flex-start;
    text-transform: uppercase;
}

.slide.splash h3 {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.slide.splash span {
    white-space: nowrap;
}

.slide.splash #enter-button {
    transition: opacity 0.3s ease-in-out;
}

.slide.splash #enter-button:hover {
    opacity: 0.6;
}


@media (min-width: 800px) {
    .slide.splash .small.header {
        display: none;
    }

    .slide.splash .big.header .header-text {
        width: 58rem;
    }
}

@media (max-width: 1000px) {
    .slide.splash .big.header .header-text {
        width: 41rem;
    }
}

@media (max-width: 800px) {
    .slide.splash {
        align-items: center;
    }

    .slide.splash .header {
        display: none;
    }

    .slide.splash .small.header {
        display: flex;
    }
}

@media (max-width: 500px) {
    .slide.splash {
        background-position: 30%;
    }

    .slide.splash h3 {
        font-size: 0.9rem;
    }
}
